<h1>一覧</h1>
<table class="table event_table">
  <thead class="thead-light">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">事象</th>
      <th scope="col">状態</th>
      <th scope="col">言語</th>
      <th scope="col">OS</th>
      <th scope="col">作成日時</th>
    </tr>
  </thead>
  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <th scope="row"><%= link_to sprintf("%008d", incident.id), incident %></th>
        <td><%= incident.incident %></td>
        <td>状態</td>
        <td>言語</td>
        <td>OS</td>
        <td><%= l incident.created_at, format: :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>