<h1>参照</h1>
<h2>No.<%= @incident.id %></h2>
<p><%= l @incident.created_at%></p>
<div class="show-incident row">
  <p class="col-2">事象</p>
  <p class = "border bg-light col-10"><%= @incident.incident %></p>
</div>
<div class="show-solution row">
  <p class="col-2">解決方法</p>
  <p class = "border bg-light col-10"><%= safe_join(@incident.solution.split("\n"), tag(:br)) %></p>
</div>
