@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
/* 全体 */
/* main */
main {
  margin-top: 56px;
}

.base-container {
  margin: 56px auto;
  padding: 10px 5px 0px 5px;
}

/* max-width */
.mw-sm {
  max-width: 540px;
  padding-top: 54px;
}

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

/* header */
header a{
  color:inherit;
  text-decoration:none;
}
header{
  color: white;
  z-index: 1030;
}
.base-bg-color{
  background-color: #007bff ;
}
.header-nav{
  display: inline-block;
  text-align: center;
}

.navbar{
  margin: 0 auto
}
.nav-item{
  padding: 8px;
}

/* main flash*/
// フラッシュ

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}



/* devise */
.btn{
  color: white;
}

.form-group{
  margin: 10px auto;
}


.devise-label{
  text-align: center;
}

// 投稿フォーム
.page-btn{
  display: block;
  margin: 10px auto;
  width: 300px;
  max-width: 100%;
}

.contents{
  .solution-textfield{
    height: 110px;
  }
}

// show
.field_with_errors {
  display: contents;
  label {
    color: red;
    font: bold;
  }
}
.title{
  .update-button {
    text-align: right;
  }
}
.title,.contents,.articles{
  margin: 0px 0px 5px 0px;
}
.title{
  h2{
    margin-bottom: 0px;
  }
}
.show-label{
  text-align: center;
}
// show 
#dropdownMenuButton{
  display: none;
}
.articles{
  .articels-form-group {
    padding: 24px 32px;
    width: 100%;
    .article-form {
      padding: 10px;
      .form-control{
        height: 110px;
      }
    }
  }
  
  .articles-contents {
    .content{
      padding: 24px 32px;
      width: 100%;
      font-size: 14px;
      .top{
        margin: 5px;
      }
      .top{
        height: 30px;
        .update-info{
          text-align: right;
        }
      }
      .bottom{
        margin-bottom: 24px;
        margin: 5px;
      }
    }
  }
  
  .article-new-btn {
    text-align: right;
    margin-top: 10px;
  }
}


// search_form
.col-form-label {
  font-size: large;
}

// listクラス
// 768pxまではテーブル表示中止
@media (max-width: 768px) {
  #dropdownMenuButton {
    display: inline;
  }
  .title{
    .update-button{
      .btn-768px {
        display: none;
      }
    }
  }
  table {
    border: 0px;
  }
  table thead {
    display: none;
  }
  table tr {
    margin: 7px ;
    display: block;
    border: 2px solid #ddd;
  }
  table th,
  table td {
    width: 100%;
    display: block;
    text-align: right;
  }
  table td:before,th::before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  table .incident::before {
    text-align: left;
    font-weight: bold;
    display: block;
    width: 100%;
  }
  table .incident{
    text-align: left;
  }
  // search_form
  .col-form-label {
    font-size: 15px;
  }

  
  
  //articles
  .articles {
    .articels-form-group {
      padding: 12px 0px;
      width: 100%;

      .article-form {
        padding: 15px;

        .form-control {
          height: 110px;
        }
      }
    }

    .articles-contents {
      .content {
        padding: 12px 0px;
        width: 100%;
        font-size: 14px;

        .top{
          margin: 5px;
        }

        .top {
          height: 30px;

          .update-info {
            text-align: right;
            margin: 5px;
          }
        }

        .bottom {
          margin-bottom: 24px;
        }
      }
    }

    .article-new-btn {
      text-align: right;
      margin-top: 10px;
    }
  }
}

table{
  .w-status,
  .w-coding-lang,
  .w-OS{
    width: 75px;
  }
  .w-username {
    width: 100px;
  }
  .w-created-at
  {
    width: 15%;
  }
  .w-No {
    width: 10%;
  }
}

