@import "bootstrap/scss/bootstrap";

/* 全体 */

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}
header a{
  color:inherit;
  text-decoration:none;
}
header{
  color: white;
}
.base-bg-color{
  background-color: #FF3F3F;
}
.header-nav{
  display: inline-block;
  text-align: center;
}
.logo{
  display: inline-block;
  text-align: center;
}
.account-management{
  display: inline-block;
  text-align: right;
}
.navbar{
  margin: 0 auto
}
.nav-item{
  padding: 8px;
}