@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";

@import "./modules/header", "./modules/flash", "./modules/form";
@import "./controller/show", "./controller/index";

/* 全体 */
/* main */
main {
  margin-top: 56px;
}

.base-container {
  margin: 56px auto;
  padding: 10px 5px 0px 5px;
}

/* max-width */
.mw-sm {
  max-width: 540px;
  padding-top: 54px;
}

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

/* devise */
.btn{
  color: white;
}

.form-group{
  margin: 10px auto;
}


.devise-label{
  text-align: center;
}



